@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Campinas Region<br />
    São Paulo - Brasil<br />
    <abbr title="Phone">Phone:</abbr>
    (19) 9****-****
</address>

<address>
    <strong>Support:</strong> <a href="https://www.facebook.com/profile.php?id=100007119677053" target="_blank">well.raiser@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="https://www.facebook.com/profile.php?id=100007119677053" target="_blank">well.raiser@gmail.com</a>
</address>
